<div class="container push-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="light-well">
        <h2 class="page-header text-center"><%= link_to @gameplay.title, "#" %></h2>

        <p class="text-muted">
          <%= @gameplay.created_at.strftime("%b %d, %Y")%>
        </p>

        <hr>

        <div class="row">
          <div class="col-sm-12 text-center">
            <% if @gameplay.is_image %>
                <img class="img-responsive" src="<%= @gameplay.link %>" />
            <% end %>

            <% if @gameplay.is_youtube %>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @gameplay.youtube_video_id_from_link%>" frameborder="0" allowfullscreen></iframe>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
