<% content_for :page_title do %>
  <%  "Info Page - How the site works" %>
<% end %>


<div class="row">

  <div class="col-sm-12 main-container " >
    <h1>Posting Video Gameplay</h1>
    <p>
      You can use the built in video sharing features of playstation to make a video from the last
      15 minutes of gameplay, which you can then save to your capture gallery, trim and upload to YouTube.
      <strong>You will need to setup video sharing and link your Youtube account to PlayStation</strong>
    </p>
    <h2>Setting up PlayStation Video sharing</h2>
    <p>
      Go to "Sharing and Broadcasts" from the settings menu in PlayStation.
      <ol>
          <li>Ensure length of video clip is set to 15mins</li>
        <li>In the "Audio Sharing Settings" ensure that the "Include microphone audio in Video Clips" is unchecked -
          otherwise your party chat and voice will be included in video.
        </li>
        <li>In the "Link with Other Services" menu, you will be able to link your YouTube account here.</li>
      </ol>
    </p>
    <h1>Posting Images</h1>
    <p>
      You will need an account on imgur <a target="_blank" href="http://imgur.com/">http://imgur.com/</a> to be able to post images.
      Imgur is a free image sharing site which also has mobile apps to make it easy. This website does not store images or videos to mitagate the cost of storage :)
    </p>
  </div>
</div>
