<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="The sSs Clan SA brings a new aspect of clan gaming to the Battlefield/Call of duty/Rainbow 6">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>sSs Clan - Gaming Battlefield & Call of Duty & Rainbow 6 </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
